* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: gray;
}
body::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}
body::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: gray;
}
:root {
    --primary-color: #009dff;
    --secundary-color: #2889ff;
    --bg-color: #333;
    --bg-color-2: #222;
    --bg-color-4: #444;
    --text-color: #fff;
    --text-color-2: #bfbfbf;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    column-gap: 1rem;
    background: var(--bg-color-2);
    padding: 1rem;
}
a {
    color: var(--text-color);
}
nav a {
    text-decoration: none;
}
main {
    padding: 1rem;
}
nav a.active {
    color: var(--primary-color);
}

form input,
form textarea,
.btn-primary {
    display: block;
    margin: 0.5rem 0;
    background: var(--bg-color-4);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.btn-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    background-color: var(--primary-color);
    transition: all 0.5s;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--secundary-color);
    transform: scale(1.1);
}
.btn-primary:active {
    transform: scale(1);
}
.grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
.product {
    background: var(--bg-color-4);
    width: 20rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    transition: all 0.5s;
}
.product:hover {
    transform: scale(1.05);
}
.product * {
    margin: 0.5rem 0;
    text-transform: capitalize;
}
.product .title {
    font-size: 1.5rem;
}
.product .description {
    color: var(--text-color-2);
}
.product img {
    width: 19rem;
}
.red {
    background-color: #e54141;
}
.red:hover {
    background-color: #f61d1d;
}
.product form {
    display: inline;
}
